.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(255, 228, 233);
}
.App button {
  margin: 3vh 0;
  padding: 12px;
  outline: none;
  border: none;
  border-radius: 3px;
  background: rgba(148, 103, 187, 0.9);
  color: white;
  font-size: 1.2em;
}